<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Kindness</th>
      <th>Thanks word</th>
      <th>Read</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.from %></td>
        <td><%= card.to %></td>
        <td><%= card.date %></td>
        <td><%= card.kindness %></td>
        <td><%= card.thanks_word %></td>
        <td><%= card.read %></td>
        <td><%= card.count %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
